## Contents
    01.Importing Libraries & Data
    02.Creating House Age Column
    03.Adding City & State Columns Using Zipcode
    04.Exporting Data

### 01.Importing Libraries & Data

In [1]:
#importing libraries
import pandas as pd
import numpy as np
import os

In [2]:
#defining path to project folder
path=r'C:\Users\rache\Documents\House Sales Analysis'

In [3]:
#importing house_sales_data_upd.csv
df=pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'house_sales_upd2.pkl'))

### 02.Creating House Age Column

In [5]:
#creating new column for house_age using yr_built column as part of formula
df=df.assign(house_age=2022-df.yr_built)
df

,Index,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,Home Size Category,house_age
0,0,7129300520,10/13/2014,221900,3,1.00,1180,5650,1.0,False,0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650,Small,67
1,1,6414100192,12/9/2014,538000,3,2.25,2570,7242,2.0,False,0,3,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639,Moderate,71
2,2,5631500400,2/25/2015,180000,2,1.00,770,10000,1.0,False,0,3,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062,Small,89
3,3,2487200875,12/9/2014,604000,4,3.00,1960,5000,1.0,False,0,5,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000,Moderate,57
4,4,1954400510,2/18/2015,510000,3,2.00,1680,8080,1.0,False,0,3,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503,Small,35
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,21608,263000018,5/21/2014,360000,3,2.50,1530,1131,3.0,False,0,3,8,1530,0,2009,0,98103,47.6993,-122.346,1530,1509,Small,13
21609,21609,6600060120,2/23/2015,400000,4,2.50,2310,5813,2.0,False,0,3,8,2310,0,2014,0,98146,47.5107,-122.362,1830,7200,Moderate,8
21610,21610,1523300141,6/23/2014,402101,2,0.75,1020,1350,2.0,False,0,3,7,1020,0,2009,0,98144,47.5944,-122.299,1020,2007,Small,13
21611,21611,291310100,1/16/2015,400000,3,2.50,1600,2388,2.0,False,0,3,8,1600,0,2004,0,98027,47.5345,-122.069,1410,1287,Small,18
21612,21612,1523300157,10/15/2014,325000,2,0.75,1020,1076,2.0,False,0,3,7,1020,0,2008,0,98144,47.5941,-122.299,1020,1357,Small,14

### 03.Adding City & State Columns Using Zipcode

In [12]:
import uszipcode #importing new library
from uszipcode import SearchEngine, SimpleZipcode, ComprehensiveZipcode #importing functions from new library
search = SearchEngine()

#defining function to find city using existing zipcode column
def zco(x):
    city = search.by_zipcode(x).major_city
    return city if city else 'None'

df['city'] = df['zipcode'].apply(zco)

Download C:\Users\rache\.uszipcode\simple_db.sqlite from https://github.com/MacHu-GWU/uszipcode-project/releases/download/1.0.1.db/simple_db.sqlite ...
  1.00 MB downloaded ...
  2.00 MB downloaded ...
  3.00 MB downloaded ...
  4.00 MB downloaded ...
  5.00 MB downloaded ...
  6.00 MB downloaded ...
  7.00 MB downloaded ...
  8.00 MB downloaded ...
  9.00 MB downloaded ...
  10.00 MB downloaded ...
  11.00 MB downloaded ...
  Complete!

In [14]:
#redefining function to find state using existing zipcode column
def zco(x):
    state = search.by_zipcode(x).state
    return state if state else 'None'

df['state'] = df['zipcode'].apply(zco)
df

,Index,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,yr_built,house_age,zipcode,lat,long,Home Size Category,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_renovated,sqft_living15,sqft_lot15,city,state
0,0,7129300520,10/13/2014,221900,3,1.00,1180,5650,1.0,1955,67,98178,47.5112,-122.257,Small,False,0,3,7,1180,0,0,1340,5650,Seattle,WA
1,1,6414100192,12/9/2014,538000,3,2.25,2570,7242,2.0,1951,71,98125,47.7210,-122.319,Moderate,False,0,3,7,2170,400,1991,1690,7639,Seattle,WA
2,2,5631500400,2/25/2015,180000,2,1.00,770,10000,1.0,1933,89,98028,47.7379,-122.233,Small,False,0,3,6,770,0,0,2720,8062,Kenmore,WA
3,3,2487200875,12/9/2014,604000,4,3.00,1960,5000,1.0,1965,57,98136,47.5208,-122.393,Moderate,False,0,5,7,1050,910,0,1360,5000,Seattle,WA
4,4,1954400510,2/18/2015,510000,3,2.00,1680,8080,1.0,1987,35,98074,47.6168,-122.045,Small,False,0,3,8,1680,0,0,1800,7503,Sammamish,WA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,21608,263000018,5/21/2014,360000,3,2.50,1530,1131,3.0,2009,13,98103,47.6993,-122.346,Small,False,0,3,8,1530,0,0,1530,1509,Seattle,WA
21609,21609,6600060120,2/23/2015,400000,4,2.50,2310,5813,2.0,2014,8,98146,47.5107,-122.362,Moderate,False,0,3,8,2310,0,0,1830,7200,Seattle,WA
21610,21610,1523300141,6/23/2014,402101,2,0.75,1020,1350,2.0,2009,13,98144,47.5944,-122.299,Small,False,0,3,7,1020,0,0,1020,2007,Seattle,WA
21611,21611,291310100,1/16/2015,400000,3,2.50,1600,2388,2.0,2004,18,98027,47.5345,-122.069,Small,False,0,3,8,1600,0,0,1410,1287,Issaquah,WA
21612,21612,1523300157,10/15/2014,325000,2,0.75,1020,1076,2.0,2008,14,98144,47.5941,-122.299,Small,False,0,3,7,1020,0,0,1020,1357,Seattle,WA

In [15]:
#rearraging columns
df=df.reindex(columns=['Index', 'id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'yr_built','house_age','city','state','zipcode','lat', 'long', 
                       'Home Size Category','waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_renovated', 'sqft_living15', 'sqft_lot15'])

In [16]:
#exporting data to csv
df.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'house_sales_final.csv'))